@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Green: #8DA467 */
/* Blue: #A1BEDB */
/* Grey: #292929 */

section {
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a, li {
    text-decoration: none;
    color: unset;
}

body {
    min-width: 414px;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    text-transform: uppercase;
    color: #292929;
    padding: 50px;
    background-image: url(../img/cloud-background.jpeg);
    background-size: cover;
    background-position: bottom;
}

#name_title h1{
    font-weight: 500;
    letter-spacing: 10px;
    font-size: 2.5em;
}

#name_title h6 {
    font-weight: 600;
    letter-spacing: 4px;
}

#name_title img {
    width: 200px;
    margin-bottom: -10px;
}

#info_title {
    position: relative;
}

#info_title h6 {
    text-align: right;
    font-weight: 600;
    letter-spacing: 4px;
}

#button_title {
    background-color: #8DA467;
    color: white;
    padding: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#button_title h5 {
    font-weight: 500;
}

@media (max-width:768px) {

    #name_title {
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    #info_title {
        display: none;
    }
}

/* ----- Navigation ----- */

nav {
    width: 100%;
    background: #A1BEDB;
}

nav ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    color: white;
    padding: 20px;
}

nav ul li:hover {
    background-color: #79a8d8;
}


.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #79a8d8;
    box-sizing: border-box;
    text-align: right;
    color: white;
    font-size: 30px;
    display: none;
}

@media (max-width:1024px) {
    .toggle {
        display: block;
    }
    nav ul {
        width: 100%;
        display: none;
    }
    nav ul li {
        display: block;
        text-align: center;
    }
    .active {
        display: block;
    }
}

.slideshow{
    width: 100%; 
    height:400px; 
    overflow:hidden; 
    position:relative;
}

.slideshow img{ 
    position: absolute; 
    animation: slideshow 16s infinite; 
    opacity:0; 
    width: 100%; 
    height: 500px;
    object-fit: cover;
}

@keyframes slideshow {
    25%{opacity: 0.9;} 
    40%{opacity:0;}
}

.slideshow img:nth-child(4){
    animation-delay: 0s;
}
.slideshow img:nth-child(3){
    animation-delay:4s;
}
.slideshow img:nth-child(2){
    animation-delay:8s;
}
.slideshow img:nth-child(1){
    animation-delay:12s;
}


.main_with_side_bar {
    display: flex;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
}

#main_bar {
    width: 70%;
    margin: 100px 50px;
}

#side_bar {
    width: 30%;
    margin: 100px 50px;
}

@media (max-width: 767px) {
    .main_with_side_bar {
        flex-wrap: wrap;
    }
    #main_bar {
        width: 100%;
        margin: 100px 50px;
    }
    
    #side_bar {
        width: 1000%;
        margin: 100px 50px;
    }
    
}

#side_bar img {
    width: 100%;
}

.main_no_sidebar section{
    display: flex;
    justify-content: center;
    max-width: 1080px;
    padding: 100px 50px;
    margin: 0 auto;
}

@media (max-width: 767px) {

    .main_no_sidebar section div {
        width: 100%;
    }

    .main_no_sidebar img {
        width: 100%;
    }
}

#quote {
    font-style: italic;
    color: #8DA467;
}

#alert {
    background-color: rgb(240, 213, 140);
    padding: 3em;
    max-width: 100%;
    text-align: center;
}

.focus_points {
    display: flex;
    justify-content: space-around;
}

.focus_points ul {
    list-style: none;
}

.focus_points li {
    padding: .5vw;
}

.focus_points i {
    color: #6a7c4d;
}

@media (max-width: 767px) {
    .focus_points {
        flex-wrap: wrap;
        justify-content: left;
    }
}

/* ------ Products ----- */

#product_section .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#product_section .product_box {
    position: relative;
    width: 300px;
    margin: 20px;
}

#product_section .product_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8);
}

#product_section .product_box:hover .product_overlay {
    opacity: 1;
  }

#product_section .product_text {
    color: white;
    font-size: 14px;
    text-align: justify;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#product_section .product_text p{
    text-align: justify;
}

#product_section .product_image {
    display: block;
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    #product_section {
        width: 80vw;
        margin: 5vh auto;
        letter-spacing: 1px;
    }
    #product_section .wrapper {
        display: block;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    #product_section .product_box {
        position: relative;
        width: 100%;
        margin: 0px;
        margin-bottom: 20px;
      }
  }



#buy_btn {
    background-color: #8DA467;
    padding: .5em;
    width: 50%;
    margin: 0 auto;
}

#buy_btn:hover {
    background-color: #6a7c4d;
}

/* contact */
#contact-form {
    background-color:#e5eef7;
    padding: 5em;
    width: 700px;
    margin: 5em auto;
}

#contact-form .item, #contact-form .question {
    margin-top: 20px;
}

#contact-form p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #292929;
}

#contact-form h3 {
    font-size: 20px;
    color: #292929;
}

#contact-form input, #contact-form textarea {
    padding: 20px;
    border: solid 1px rgba(176, 196, 222, 0.753);
}

#contact-form button {
    padding: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
    background-color: #8DA467;
    color: #e5eef7;
    border: none;
    transition: .3s;
}

#contact-form button:hover {
   background-color:#6a7c4d;
   color: whitesmoke;
}

@media (max-width:700px) {
    #contact-form {
        background-color: white;
        margin: 5vh 5vw;
        padding: 50px;
        width: 90vw;
        
    }

    #contact-form input, #contact-form textarea {
        padding: 10px;
        border-radius: 10px;
        border: solid 1px lightsteelblue;
    }
    
}


/* ------ Footer ------ */

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #e5eef7;
    color: #747474;
}


footer p, td {
    padding-bottom: .5em;
}

#tag {
    padding: 5px;
    text-align: center;
    background-color: #A1BEDB;
    color: #79a8d8;
}

@media (max-width: 767px) {
    footer {
        flex-wrap: wrap;
    }
}
